NODE_ENV=development # development | production | test

HOST=localhost # (default 0.0.0.0)
PORT=3000 # (default 3000)

DATABASE_URL=postgresql://<db_user>:<user_pwd>@<host>:<port>/<db_name>
### docker-copmose vars
  POSTGRES_USER=
  POSTGRES_PASSWORD=
  POSTGRES_DB=
###

JWT_SECRET=string_min_length_32